/*Font*/
*, body, a{
    /*font-family: 'Roboto', sans-serif;*/
    /*font-family: 'Montserrat', sans-serif;*/
}
button:focus{
    outline: none;
}
/*=======*/
.loading {
    visibility: hidden;
    background-color: rgba(255,255,255,0.7);
    position: absolute;
    z-index: +100 !important;
    width: 100%;
    height:100%;
}
.loading img {
    position: relative;
    top:50%;
    left:50%;
}
@media (max-width: 991px) {
    .hide-mobile { display: none !important; }
    .app-footer>div { width: 100%; text-align: center; }
}
.select2 {
    width: 100% !important;
}

/*
 * Callouts
 *
 * Not quite alerts, but custom and helpful notes for folks reading the docs.
 * Requires a base and modifier class.
 */

/* Common styles for all types */
.bs-callout {
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee;
    font-size: 13px;
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}

/* Variations */
.bs-callout-danger {
    background-color: #fdf7f7;
    border-color: #eed3d7;
    color: #d9534f;
}
.bs-callout-danger h4 {
    color: #b94a48;
}
.bs-callout-warning {
    background-color: #faf8f0;
    border-color: #faebcc;
    color: #da860f;
}
.bs-callout-warning h4 {
    color: #c09853;
}
.bs-callout-info {
    background-color: #f4f8fa;
    border-color: #bce8f1;
    color: #3a8ea6;
}
.bs-callout-info h4 {
    color: #3a87ad;
}

/*Style for scroll top button*/
.scrollToTop{
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    right: 10px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    display: none;
    padding-top: 9px;
    z-index: 110;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    background: #fff;
    -webkit-box-shadow: 0px 0px 15px 1px rgba(69, 65, 78, 0.2);
    -moz-box-shadow: 0px 0px 15px 1px rgba(69, 65, 78, 0.2);
    box-shadow: 0px 0px 15px 1px rgba(69, 65, 78, 0.2)
}
.scrollToTop:hover{
    text-decoration:none;
}

@media screen and (max-width:992px){
    .only-pc{
        display: none;
    }
}
@media screen and (min-width:993px){
    .only-mobile{
        display: none;
    }
}
.dataTables_filter { display: none !important; }
@media screen and (min-width:1201px){
    .only-max-1200{
        display: none;
    }
}
@media screen and (max-width:1200px){
    .only-min-1200{
        display: none;
    }
}
/*=====================*/
.justify-content{
    justify-content: center;
}
.box-content{
    background-color: #FFF;
    border-radius: 20px;
    overflow: hidden;
    font-size: 13px;
    line-height: 22px;
}
.box-content .text-link{
    margin-top: 20px;
}
.box-content .text-link a{
    font-size: 15px;
    color: #FFF;
}
.box-content .text-link a:hover{
    text-decoration: none;
    color: #8bc53f;
}
.bg-register{
    /*background-image: url(../../images/bg-register.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
}
.box-content .box-padding{
    padding: 30px 15px;
}
.box-content .title{
    color: #1a3a3f;
    font-size: 25px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ffffff;
    display: inline-block;
    font-weight: bold;
    width: 100%;
    text-align: center;
}
.box-content .input-group{
    border-bottom: 1px solid #e2e3e2;
    margin-bottom: 20px;
}
.box-content .input-group input{
    border:none;
    background-color: #eeeeec;
    color: #FFF;
    font-size: 13px;
}
.box-content .input-group input:focus,
.box-content .input-group input:active,
.box-content .input-group input:hover{
    outline: none;
    box-shadow: none;
}
.box-content .input-group img{
    margin-top: 10px;
    width: 15px;
}
.box-content .form-group .form-control{
    border: 1px solid #7e8f92;
    font-size: 13px;
}
.box-content .button-submit{
    text-align: center;
}
.box-content .button-submit button{
    background-image: linear-gradient(to right, #0092fc, #007daf);
    border: none;
    border-radius: 15px;
    color: #FFF;
    font-weight: bold;
    font-size: 12px;
    padding: 5px 10px;
}
.page-auth .btn-submit {
    text-transform: uppercase;
    color: #FFF;
    background: linear-gradient(#1a393e, #1a393e);
    padding: 6px 10px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: bold;
    box-shadow: 0px 0px 21px 6px #e4e5e6;
    border: none;
}
.box-content .button-submit:hover{
    opacity: 0.9;
}
.info-company{
    color: #FFF;
    font-size: 13px;
    margin-top: 50px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
}
div.page-auth{
    margin: 100px 0;
}
/* .box-content input:-webkit-autofill,
.box-content input:-webkit-autofill:hover, 
.box-content input:-webkit-autofill:focus,
.box-content textarea:-webkit-autofill,
.box-content textarea:-webkit-autofill:hover,
.box-content textarea:-webkit-autofill:focus,
.box-content select:-webkit-autofill,
.box-content select:-webkit-autofill:hover,
.box-content select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px #FFF inset;
  transition: background-color 5000s ease-in-out 0s;
} */
form.form-register input{
    background-color:rgba(255, 255, 255, 0)!important;
}
form.form-register input::placeholder{
  color: #989898;
  opacity: 1; /* Firefox */
}
form.form-register input:-ms-input-placeholder{ /* Internet Explorer 10-11 */
 color: #989898;
}
form.form-register input::-ms-input-placeholder{ /* Microsoft Edge */
 color: #989898;
}

form.form-login input{
    background-color:#5f7c92!important;
}
form.form-login input::placeholder {
    color: #ccc;
    opacity: 1; /* Firefox */
}
form.form-login input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #ccc;
}
form.form-login input::-ms-input-placeholder { /* Microsoft Edge */
    color: #ccc;
}
/*Login PC===================*/
.box-login{
    color: #FFF;
    font-size: 13px;
    background: rgba(2, 43, 74, 0.4);
    border-radius: 18px;
}
.box-login .bg{
    position: absolute;
    width: 100%;
}
.box-login .bg-logo{
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.input-login{

}
.box-login .input-group{
    margin-bottom: 15px;
    background-color: #5f7c92;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0px 10px;
    color: #000;
}
.box-login .input-group input{
    border:none;
    background-color: initial;
    color: #000;
    font-size: 13px;
    padding: 19px 0;
}
.box-login .input-group input:focus,
.box-login .input-group input:active,
.box-login .input-group input:hover{
    outline: none;
    box-shadow: none;
}
.box-login .input-group .fa{
    line-height: 38px;
    font-size: 17px;
    color: #FFF;
}
.box-login .text-line{
    font-size: 17px;
    margin: 0 10px 0px;
    color: #a5b6c2;
}
.box-login .box-padding{
    padding: 0 20px;
}
.box-login .button-submit{
    text-align: center;
}
.box-login .button-submit button{
    background-image: linear-gradient(to right, #0092fc, #007daf);
    border: none;
    color: #FFF;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 15px;
    border-radius: 15px;
}
.box-login .button-submit button:hover{
    opacity: 0.9;
}
.input-login .text-link{
    text-align: center;
    margin-top: 20px;
}
.input-login .text-link a {
    color: #FFF;
    line-height: 25px;
}
.input-login .text-link a:hover{
    text-decoration: none;
    color: #fff200;
}
.logo-register{
    margin: 30px 0;
}
/*Login Mobile===================*/
.box-login-mobile{
    color: #FFF;
    font-size: 13px;
    position: relative;
    margin-top: 40px;
    background-image: linear-gradient(#44525d, #152734);
    border-radius: 20px;
}
.box-login-mobile .bg-logo{
    position: absolute;
    top: 0;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.input-login-mobile{

}
.box-login-mobile .input-group{
    margin-bottom: 15px;
    background-color: #bbc0c4;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0px 10px;
    color: #000;
}
.box-login-mobile .input-group input{
    border:none;
    background-color: initial;
    color: #000;
    font-size: 13px;
    padding: 19px 0;
}
.box-login-mobile .input-group input:focus,
.box-login-mobile .input-group input:active,
.box-login-mobile .input-group input:hover{
    outline: none;
    box-shadow: none;
}
.box-login-mobile .input-group .fa{
    line-height: 38px;
    font-size: 17px;
}
.box-login-mobile .text-line{
    font-size: 17px;
    margin: 0 10px 0px;
}
.box-login-mobile .box-padding{
    padding: 0 20px;
}
.box-login-mobile .button-submit{
    text-align: center;
}
.box-login-mobile .button-submit button{
    background-image: linear-gradient(to right, #f6af67, #b74b2c);
    border: none;
    border-radius: 0px;
    color: #FFF;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 15px;
}
.box-login-mobile .button-submit button:hover{
    opacity: 0.9;
}
.input-login-mobile .text-link{
    text-align: center;
    margin-top: 20px;
}
.input-login-mobile .text-link a {
    color: #FFF;
    line-height: 25px;
}
.input-login-mobile .text-link a:hover{
    text-decoration: none;
    color: #8bc53f;
}
/*--------------------------*/
.input-login input:-webkit-autofill,
.input-login input:-webkit-autofill:hover, 
.input-login input:-webkit-autofill:focus,
.input-login textarea:-webkit-autofill,
.input-login textarea:-webkit-autofill:hover,
.input-login textarea:-webkit-autofill:focus,
.input-login select:-webkit-autofill,
.input-login select:-webkit-autofill:hover,
.input-login select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #FFF;
  -webkit-box-shadow: 0 0 0px 1000px #5f7c92 inset;
  transition: background-color 5000s ease-in-out 0s;
}
.box-padding{
    position: relative;
    left: 0px;
    top: 0px;
}
.box-padding .arrow-left {
    width: 0;
    height: 0;
    border-top: 19px solid transparent;
    border-bottom: 19px solid transparent;
    border-right: 15px solid #5f7c92;
    position: absolute;
    left: 5px;
    top: 0px;
}
.box-padding .arrow-right {
    width: 0; 
    height: 0; 
    border-top: 19px solid transparent;
    border-bottom: 19px solid transparent;
    border-left: 15px solid #5f7c92;
    position: absolute;
    right: 5px;
    top: 0px;
}
.button-submit .submit{
    position: relative;
    left: 5px;
    top: 0px;
}
.button-submit .submit .arrow-left {
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 16px solid transparent;
    border-right: 10px solid #f6af67;
    position: absolute;
    left: -10px;
    top: 0px;
}
.button-submit .submit .arrow-right {
    width: 0; 
    height: 0; 
    border-top: 15px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 10px solid #b84c2d;
    position: absolute;
    right: -10px;
    top: 0px;
}
.shadow-form img{
    width: 100%;
}
.shadow-form{
    margin: 50px 0 0;
}
/*==============================*/
.box-form-default{
    background-color: rgba(2, 43, 74, 0.4);
    border-radius: 10px;
}
.box-form-default .title{
    color: #FFF;
    font-size: 16px;
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
}
.box-form-default .line{
    height: 1px;
    width: 100%;
    background: #f68e42;
}
.box-form-default .content-form{
    padding: 15px 20px;
    padding-top: 0;
}
.box-form-default .content-form .form-group label{
    font-size: 13px;
    font-weight: bold;
    color: #FFF;
}
.box-form-default .content-form .button-submit{
    text-align: center;
}
.box-form-default .content-form .button-submit button{
    border: none;
    background-image: linear-gradient(to right, #0092fc, #007daf);
    color: #FFF;
    font-size: 13px;
    padding: 5px 15px;
    border-radius: 10px;
}
.box-form-default .content-form .button-submit button:hover{
    opacity: 0.9;
}
.box-form-default .content-form .text-link{
    text-align: center;
    font-size: 13px;
    color: #FFF;
}
.box-form-default .content-form .text-link a{
    font-size: 13px;
    color: #f9ed32;
}
.box-form-default .content-form .text-link a:hover{
    text-decoration: none;
    color: #8bc53f;
}
.status-fail{
    background: red;
    color: #FFF;
    padding: 10px 15px;
    text-align: center;
    border-radius: 10px;
}