@media screen and (min-width: 992px){
    .float-left-none   {float: left;}
    .float-right-none  {float: right;}
    .float-none-left   {float: initial;}
    .float-none-right  {float: initial;}
    .float-right-left  {float: right;}
    .float-right-right {float: right;}
    .float-left-left   {float: left;}
    .float-left-right  {float: left;}
    .text-left-none    {text-align: left;}
    .text-right-none   {text-align: right;}
    .text-center-none  {text-align: center}
    .text-none-left    {text-align: initial;}
    .text-none-right   {text-align: initial;}
    .text-none-center  {text-align: initial;}
    .text-left-left    {text-align: left;}
    .text-left-center  {text-align: left;}
    .text-left-right   {text-align: left;}
    .text-right-left   {text-align: right;}
    .text-right-center {text-align: right;}
    .text-right-right  {text-align: right;}
    .text-center-left  {text-align: center;}
    .text-center-center{text-align: center;}
    .text-center-right {text-align: center;}
    .clearfix-1-0      {clear: both;}
    .p-0-auto          {padding: 0;}
    .only-mobile       {display: none!important;}
}
@media screen and (max-width: 992px){
    .float-left-none   {float: initial;}
    .float-right-none  {float: initial;}
    .float-none-left   {float: left;}
    .float-none-right  {float: right;}
    .float-right-left  {float: left;}
    .float-right-right {float: right;}
    .float-left-left   {float: left;}
    .float-left-right  {float: right;}
    .text-left-none    {text-align: left;}
    .text-right-none   {text-align: right;}
    .text-center-none  {text-align: center;}
    .text-none-left    {text-align: left;}
    .text-none-right   {text-align: right;}
    .text-none-center  {text-align: center;}
    .text-left-left    {text-align: left;}
    .text-left-center  {text-align: center;}
    .text-left-right   {text-align: right;}
    .text-right-left   {text-align: left;}
    .text-right-center {text-align: center;}
    .text-right-right  {text-align: right;}
    .text-center-left  {text-align: left;}
    .text-center-center{text-align: center;}
    .text-center-right {text-align: right;}
    .clearfix-0-1      {clear: both;}
    .p-auto-0          {padding: 0;}
    .only-pc           {display: none!important;}

    .box-sidebar{
    	width: 100%!important;
    	height: auto!important;
    }
}

.pointer{
	cursor: pointer;
}
header{
	background-color: #0ca44f;
	padding: 15px 20px;
	font-size: 13px;
	color: #FFF;
}
header .head-block{
	display: inline-block;
}
header .head-block-1{margin-right: 15px;}
header .head-block-2{cursor: pointer;}
header .head-block-3{float: right;cursor: pointer;}
@media screen and (max-width: 992px){
	header .head-block-3{
		float: initial;
	    cursor: pointer;
	    margin-top: 10px;
	}
}
header .fas{
	color: #FFF;
	font-size: 16px;
}
header .head-block-search .fas{
	color: #010101;
}
header .head-block-search input{
	font-size: 13px;
	padding: 0 5px;
    height: 25px;
}
header .head-block-search .input-group{
	margin-bottom: 0!important;
}
header .head-block-search .input-group-text{
    height: 25px;
    cursor: pointer;
}
header .head-block-search .input-group-text .fas{
	font-size: 13px;
}
header .head-block-search{
	color: #010101;
	font-size: 13px;
	width: 300px;
	margin-left: 50px;
}
@media screen and (max-width: 992px){
	header .head-block-search{
		margin-left: 0px;
	}
}
main{

}
main .box-sidebar{
	width: 20%;
	background-color: #FFF;
	border-right: 1px solid #ebebeb;
	display: inline-block;
	vertical-align: top;
	padding: 15px;
	height: calc(100vh - 55px);
	overflow-x: auto;
}
main .box-main{
	width: 80%;
	background-color: #FFF;
	display: inline-block;
	vertical-align: top;
	padding: 15px;
}
@media screen and (max-width: 992px){
	main .box-main{
		width: 100%;
}
}
main .box-sidebar ul.list-show{
	padding-left: 0;
}
main .box-sidebar ul.list-show li{
	list-style-type: none;
	padding-bottom: 10px;
}
main .box-sidebar ul.list-show li a{
	font-size: 14px;
	color: #6e6e6e;
}
main .box-sidebar ul.list-show li a:hover{
	text-decoration: none;
	color: #0ca44f;
}
main .box-sidebar .list-show.foot a{
	color: #0ca44f;
}
main .box-main ul.list-breadcrumb{
	padding-left: 0;
}
main .box-main ul.list-breadcrumb li{
	list-style-type: none;
	color: #6e6e6e;
	display: inline-block;
	cursor: pointer;
}
main .box-main ul.list-breadcrumb li a{
	color: #6e6e6e;
	font-size: 13px;
}
main .box-main ul.list-breadcrumb li a:hover{
	text-decoration: none;
}
main .box-main .icon-head-right span{
	color: #6e6e6e;
	margin-left: 5px;
	cursor: pointer;
}
.dropdown-custom .dropdown-toggle-custom:after{
	display: none;
}
main .block-form,
main .block-form input{
	font-size: 13px;
}
main .block-show.block-show-scroll{
	height: calc(100vh - 135px);
    overflow: hidden;
    overflow-y: scroll;
}
/*Custom Dropdown*/
.dropdown-custom .dropdown-menu{
	box-shadow: 0px 0px 5px 0px #808080;
    border: 1px solid #808080;
    color: #6e6e6e!important;
}
.dropdown-custom .dropdown-menu a{
	color: #6e6e6e!important;
	font-size: 13px;
}
.dropdown-custom .dropdown-menu a .fas{
	width: 15px;
	color: #6e6e6e!important;
}
.dropdown-custom .dropdown-menu a:hover .fas,
.dropdown-custom .dropdown-menu a:hover{
	color: #0ca44f!important;
}
.dropdown-custom .dropdown-menu a:active{
	background: none;
}

.dropdown-custom.dropdown-menu{
	box-shadow: 0px 0px 5px 0px #808080;
    border: 1px solid #808080;
    color: #6e6e6e!important;
}
.dropdown-custom.dropdown-menu a{
	color: #6e6e6e!important;
	font-size: 13px;
}
.dropdown-custom.dropdown-menu a .fas{
	width: 15px;
	color: #6e6e6e!important;
}
.dropdown-custom.dropdown-menu a:hover .fas,
.dropdown-custom.dropdown-menu a:hover{
	color: #0ca44f!important;
}
.dropdown-custom.dropdown-menu a:active{
	background: none;
}
/*End-Custom Dropdown*/

/*Custom table*/
.table-list,
.table-list a{
	font-size: 13px;
	color: #b3b3b3;
}
.table-list a:hover{
	text-decoration: none;
	color: #0ca44f;
}
.table-list tr{
	border-bottom: 1px solid #ebebeb;
}
.table-list td{
	padding: 10px 0;
	cursor: pointer;
}
.table-list .icon-green{
	color: #0ca44f;
}
.table-list .name,
.table-list .name a{
	color: #010101;
}
.table-list .name:hover a{
	color: #0ca44f;
}
/*Custom Modal*/
.model-custom .modal-body,
.model-custom .modal-body input,
.model-custom .modal-body select,
.model-custom .modal-body textarea,
.model-custom .modal-body .input-group-text{
	font-size: 13px;
}
.model-custom .btn-cancel{
	font-size: 13px;
	background-color: #FFF;
}
.model-custom .btn-create{
	font-size: 13px;
	background-color: #0ca44f;
	color: #FFF;
}
.model-custom .btn-delete{
	font-size: 13px;
	background-color: #dc3545;
	color: #FFF;
}
#myModal-share table td.col-custom-1{
	/*padding: 10px 0;*/
}
.td-expire .btn{
	height: 34px;
}
.list-show-setting a.active{
	color: #0ca44f!important;
	font-weight: bold;
}
.list-show a.active{
	color: #0ca44f!important;
	font-weight: bold;
}
/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/
/*------------------------------------*/
/*LOADING*/
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
